@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> Within the framework of Sadat Academy’s plan, which aims to expand the establishment of faculties and add new specializations through educational programs required by the labor market in Egypt and Arab countries, the Faculty of Computers and Information was established. The Academy was awarded a bachelor’s degree in computers and information in one of the following specializations:</p>

<p> ·        Computer Science </p>

<p> ·        Information Systems </p>

<p> ·        Software Engineering </p>

<p>A student can obtain a bachelor's degree with a double major from the majors offered by the Faculty of Computers and Information after completing all academic requirements for both majors.</p>

<p>    In addition to adding new programs: </p>

<p> ·        Artificial intelligence  </p>

<p> ·        Cyber security </p>

<p> ·        Data science   </p>

<p>   which are currently approved by the Supreme Council of Universities.</p>
