@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    7 Dr. ibrahim Abou El Naga St. Embassies District, Nasr City. Cairo, Egypt. 11765<br />
    Hotline: 19064<br />
    Phone: +20223516693<br />
    Fax: +20223516826<br />
    WhatsApp Only: +201098257891<br />
    Email: info@study-in-egypt.gov.eg<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>